@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

/* Corpo/Boddy */
body {
    background-color: hsl(0, 0%, 100%);
    font-size: 18px;
    text-transform: uppercase;
    font-family: 'Space Grotesk', sans-serif;
    
}

.container {
    background-image: url(/Cartao_interativo-main/images/bg-main-desktop.png);
    background-repeat: no-repeat;
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
}

.container_card_front{
    background-image: url(/Cartao_interativo-main/images/bg-card-front.png);
    background-repeat: no-repeat;
    width: 300px;
    height: 150px;
}