@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');
/* CSS Sem position */

body {
    background-color: hsl(0, 0%, 100%);
    font-family: 'Space Grotesk', sans-serif;
    text-transform: uppercase;
    font-size: 18px;
}

/* Container principal */
.container {
    background-image: url(/interactive-card-details-form-main/images/bg-main-desktop.png);
    background-repeat: no-repeat;
    background-size:contain;
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;   
}

/* Parte da frente do cartão */
.container_card_front {
    background-image: url(/interactive-card-details-form-main/images/bg-card-front.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 200px;
    width: 400px;
    margin: 5% 0 3% 30%;
}

.imagem_card {
    margin: 30px;
}

.container_card_front p{
    color: white;    
}

.number_card {
    margin: 10px 30px;
    font-size: 25px;
}

.name_card{
    margin: 10px 30px;
}

.valid_card{
    margin: 10px 30px;
}

/* Parte de trás do cartão */
.container_card_back {
    background-image: url(/interactive-card-details-form-main/images/bg-card-back.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 200px;
    width: 400px;
    margin-left: 40%;
}

.container_card_back p {
    margin-top: 20px;
    
}

/* Inicio do formulário */
.container_formulario{
    display: flex;
    flex-flow: column wrap;
    width: 290px;
    color: hsl(278, 68%, 11%);
    margin: 15% 0;
}

.name, .number, .mm, .yy, .sec{
    margin: 8px 0;
    padding: 5px;
    border: 1px solid hsl(270, 3%, 87%);
    border-radius: 5px;
}

input::placeholder{
    color: hsl(270, 3%, 87%);
}

.item_cvc{
    margin-left: 50px;
}

input.mm, input.yy{
    width: 20px;
}

.sec{
    margin-left: 143px;
}


input.sec{
    width: 60px;
}

/* Inicio do botão */
button {
    padding: 1em;
    background: hsl(278, 68%, 11%);
    color: hsl(0, 0%, 100%);
    font-family: 'Space Grotesk', sans-serif;
    border-radius: 10px;
    margin-top: 20px;
    cursor: pointer;
}