@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');
/* CSS Com position */

body {
    background-color: hsl(0, 0%, 100%);
    font-family: 'Space Grotesk', sans-serif;
    text-transform: uppercase;
    font-size: 18px;
}

/* Container principal */
.container {
    background-image: url(/interactive-card-details-form-main/images/bg-main-desktop.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 100vh;
    display: grid;
    grid-template-columns: 30% 70%;   
}

/* Parte da frente do cartão */
.container_card_front {
    background-image: url(/interactive-card-details-form-main/images/bg-card-front.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 200px;
    width: 400px;
    position: fixed;
    top: 38%;
    left: 25%;
    transform: translate(-50%, -50%);
    
}

.imagem_card {
    margin: 30px;
}

.container_card_front p{
    color: white;    
}

.number_card {
    position: absolute;
    top: 60%;
    left: 30px;
    font-size: 27px;
}

.name_card{
    position: absolute;
    top: 80%;
    left: 30px;
}

.valid_card{
    position: absolute;
    top: 80%;
    left: 70%;
}

/* Parte de trás do cartão */
.container_card_back {
    background-image: url(/interactive-card-details-form-main/images/bg-card-back.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 200px;
    width: 400px;
    position: fixed;
    top: 65%;
    left: 28%;
    transform: translate(-50%, -50%);
}

.container_card_back p {
    text-align: end;
    margin: 90px 80px;
    color: white;
    
}

/* Inicio do formulário */
.container_formulario{
    display: flex;
    flex-flow: column wrap;
    width: 290px;
    position: fixed;
    top: 50%;
    left: 55%;
    transform: translate(-50%, -50%);
    color: hsl(278, 68%, 11%);
}

.name, .number, .mm, .yy, .sec{
    margin: 5px 0;
    padding: 5px;
    border: 1px solid hsl(270, 3%, 87%);
    border-radius: 5px;
}

input::placeholder{
    color: hsl(270, 3%, 87%);
}

.item_cvc{
    margin-left: 30px;
}

input.mm, input.yy{
    width: 40px;
}

.sec{
    margin-left: 80px;;
}

input.sec{
    width: 83px;
}

/* Inicio do botão */
button {
    padding: 1em;
    background: hsl(278, 68%, 11%);
    color: hsl(0, 0%, 100%);
    font-family: 'Space Grotesk', sans-serif;
    border-radius: 10px;
    margin-top: 20px;
    cursor: pointer;
}

@media screen and (max-width: 480px) {
    /* container dos cartões */
    .container{
        background-image: url(/Card_interactive-main/images/bg-main-mobile.png);
        background-repeat: no-repeat;
        background-size: contain;
    }

    .container_card_front{
        position: absolute;
        top: 230px;
        left: 160px;
        transform: translate(-50%, -50%);
        width: 300px;
        z-index: 1;
    }

    .number_card {
        position: absolute;
        top: 50%;
        left: 30px;
        font-size: 20px;
    }
    
    .name_card{
        position: absolute;
        top: 70%;
        left: 30px;
        font-size: 12px;
    }
    
    .valid_card{
        position: absolute;
        top: 70%;
        left: 70%;
        font-size: 12px;
    }


    .container_card_back {
        position: absolute;
        top: 135px;
        left: 230px;
        transform: translate(-50%, -50%);
        width: 300px;
    }

    .container_card_back p{
        position: absolute;
        bottom: 12px;
        left: 165px;
        transform: translate(-50%, -50%);
    }
    /* Container do formulário */
    .container_formulario{
        position: absolute;
        left: 195px;
        transform: translate(-50%, -50%);
        width: 350px;
        margin-top: 25%;
        font-size: 14px;
    }

    .name, .number, .mm, .yy, .sec{
        margin: 10px 0 30px 0;
        padding: 1em;
        border: 1px solid hsl(270, 3%, 87%);
        border-radius: 8px;
    }


    input.sec{
        margin-left: 15px;
        width: 160px;        
    }

}
